.bg {
  padding-bottom: 38%;
  background-image: url('../img/bg_doacao.png');
  background-size: cover;
}

.nunito {
  font-family: 'Nunito', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.inline {
  display: inline-block;
}


.bg_dono {
  background: linear-gradient(180deg, rgba(255, 236, 73, 0.4) 0%, rgba(255, 255, 255, 0.48) 0.01%, rgba(217, 217, 217, 0) 100%);
  border-radius: 9px;
}


.icon_text {
  text-align: left;
  font-weight: 600;
  font-size: 200%;
}

@media only screen and (max-width: 576px) {
  .vanish_sm {
    display: none;
  }

  .logos_parceiros {
    max-width: 85%;
  }

  .logo {
    max-width: 250%;
  }

  footer section {
    font-size: 55%
  }

  .icon_text {
    font-size: 85%;
  }

  .icon {
    max-width: 135%;
  }
}